<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PoliEventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'>
    <!--Para utilizar la fuente Bree Serif-->

    <style>
        .Encabezado {
            display: flex;
            height: 20%;
            width: 100%;
            color: white;
            background: #018541;
        }

        body {
            font-family: 'Bree Serif';
            font-size: 22px;
            margin: 0;
            padding: 0;
            background: white;
        }

        .container {
            display: block;
            height: 100%;
            width: 100%;
        }

        .tabla{
            margin: 1rem;
        }
    </style>
</head>

<body>

       
    <div class="container">

        <div class="Encabezado">

            <img src="../../Imagenes/Logo.png" alt="Logo"align=LEFT width="164" height="164"/>

        </div>
    </div>
    


    <table class="table table-bordered table-hover tabla">
        <thead>
            <tr>
                <th>Nombre del evento</th>
                <th>Categoria</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Asistentes</th>
                <th>Facultad</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            
            <% for(var i=0; i < tasks.length; i++) { %>
                <tr>
                    <td><%=tasks[i].nombre %></td>
                    <td><%=tasks[i].categoria %></td>
                    <td><%=tasks[i].lugar %></td>
                    <td><%=tasks[i].fecha %></td>
                    <td><%=tasks[i].asistentes %></td>
                    <td><%=tasks[i].facultad %></td>
                    <td><%=tasks[i].descripcion %></td>
                </tr>
            <% }  %>
        </tbody>
    </table>
</body>

</html>